body {
  background-color: rgba(137, 43, 226, 0.158);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 10px;
}

h1,
p {
  text-align: center;
  margin-bottom: 0;
}

p {
  font-size: 20px;
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.knight-emoji1 {
  font-size: 40px;
}

.knight-emoji2 {
  font-size: 25px;
}

a {
  color: rgb(129, 14, 129);
  padding: 0 5px;
  font-size: 18px;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: underline;
}

footer {
  text-align: center;
  margin-top: 20px;
}

.knight-img1 {
  display: block;
  margin: 0 auto;
  border-radius: 5%;
}

.email-link {
  font-size: 25px;
}
